/* Logo UI */ 

.logo img {
    width: 203px;
    height: 64px;
}

nav a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #333;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

nav a:visited {
    color: #333;
}

nav a:hover {
    color: #7CAD25;
    transform: scale(1.1);
}

/* Dropdown UI */

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    list-style: none;
    flex-direction: column;
    z-index: 12;
}

.dropdown-menu li a {
    padding: 10px 10px;
    background-color: #fff;
    color: #333;
    display: block;
    text-align: left;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    color: #fff;
    background-color: #7CAD25;
    transform: none;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

/* Tab UI */ 

.massage-tabs .tab {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #fafbfc;
  border-bottom: 3px solid transparent;
  border-radius: 8px 8px 0 0; 
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  font-weight: 500;
  transition: background-color 0.3s;
}

.massage-tabs .tab.active {
    border-bottom: 3px solid #000000;
}

/* Video UI */ 

.video-bg .video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 10;
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-text {
    max-width: 680px;
}

.video-bg .video-text h1 {
    font-size: 60px;
    font-weight: 500;
    margin: 0px;
}

.video-bg .video-text h2 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.google-review-card {
    display: flex;
    align-items: flex-start; 
    gap: 5px;
}

.google-review-card img.review-logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 5px;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.review-content a, .google-review-content a {
    color: #fff;
    font-weight: 600;
}

.review-rating {
    color: #FB8E28;
    font-size: 21px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.google-powered {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.google {
    display: inline-flex;
    font-weight: 600;
}

.google-review {
    width: 100%;          
    text-align: left;   
}

.google-link {
    display: inline-flex; 
    padding: 8px 12px;
    background-color: #1F67E7;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 12px;
    font-size: 14px;
    white-space: nowrap;  
}

.review-text {
    display: inline;    
    margin-right: 4px;     
}

.google-logo {
    display: inline-block;  
    width: 16px;
    height: 16px;
    object-fit: contain;
    border-radius: 50%;
    vertical-align: middle; 
}

.call {
    display: flex;
    align-items: center;
    padding: 40px 40px 0 40px;
    gap: 100px;
}

.call-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 1.2;
}

.phone-number {
    font-weight: 700;
    font-size: 24px;
}

/* Intro UI */

.intro-text {
    max-width: 600px;
}

.intro-text h2 {
    color: #192A3D;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    
}

.dropcap {
    margin-top: 10px;
}

.dropcap::first-letter {
    font-size: 45px;
    float: left;
    line-height: 1;
    margin-right: 8px;

}

.intro-text p {
    color: #3A4F66;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
}


.intro-head-image {
    display: block;
    height: auto;
    border-radius: 200px 50px 50px 50px;
}

.intro-neck-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
    border-radius: 15px;
}

.intro-text-sub {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.intro-text-content h3 {
    color: #47690A;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.intro-text-content p {
    color: #3A4F66;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.intro-icon {
    margin-right: 40px;
}

.intro-link, .specialty-link {
    display: inline-flex; 
    padding: 15px 50px;
    background-color: #7CAD25;
    border-radius: 35px;
    color: #fff;
    text-decoration: none;
    margin-top: 12px;
    font-size: 15px;
    white-space: nowrap;  
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
} 

/* Specialty UI */

.specialties-header::before, .specialties-header::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #00FF00;
}

.specialties-header h5 {
    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    color: #fff;
}

.specialties h2 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin: 50px auto 0 auto;
    max-width: 1000px;
}

.static-massage-image {
    width: 150px;
    height: auto;
    flex-shrink: 0;
    margin-top: 40px;
}

.static-massage-image img {
    width: 375px;
    height: 550px;
    border-radius: 12px;
}

/* Carousel / Cards UI */ 

.cards {
    display: flex;
    gap: 20px;
    overflow-x: hidden;      
    scroll-behavior: smooth;   
    max-width: 900px;         
}

.cards::-webkit-scrollbar {
    display: none;
}

.card {
    background: #fff;
    width: 460px;
    height: 460px;
    border-radius: 12px; 
}

.card img {
    width: 375px;
    height: auto;
    display: block;
    padding: 10px;
}

.card li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #192A3D;
    transition: color 0.3s;

    display: block;
    text-align: center;
    margin-top: 20px;
}

.card li a:hover {
    color: #7CAD25;
}

.card p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;

    color: #3A4F66;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin: 10px;
    text-align: center;
}

/* Nav Button UI (Carousel) */ 

.nav {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    background: #7CAD25;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
}

.nav.prev {
    left: 0px;   
}

.nav.next {
    right: 0px; 
}

/* Specialty Button  UI  */

.specialty-link {
    padding: 15px 50px;
}

/* Gallery/ Testimonials UI */ 

.gallery-header::before, .gallery-header::after, .testimonials-header::before, .testimonials-header::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #7CAD25;
}

.gallery-header h5, .testimonials-header h5 {
    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    color: #3A4F66;
}

.gallery h2, .testimonials h2 {
    color: #192A3D;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin: 50px auto 50px auto;
    max-width: 1000px;
}

/* Testimonials UI */ 

.testimonials h4 {
    color: #7CAD25;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin: 50px auto 50px auto;
}

/* Gallery UI */ 

.panel {
    flex: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    transform: scale(1);
    transition: flex-grow 0.6s ease-in-out, transform 0.6s ease;
}

.panel:hover {
    flex-grow: 2;
    transform: scale(1.02);
}

.panel::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
    opacity: 1;
    transition: opacity 0.4s ease;
}

.panel:hover::before {
    opacity: 0.08;
}

/* Reviews UI */ 

.reviews-scroll {
    display: flex;           
    flex-direction: row;     
    gap: 20px;              
    overflow-x: auto;        
    scroll-behavior: smooth;  
    flex-wrap: nowrap;   
    margin-left: 0;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.reviews-scroll::-webkit-scrollbar {
    display: none;
}

.review-card {
    flex: 0 0 250px;      
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    font-size: 14px;
    line-height: 1.5;
    height: 225px;
    background-color: #fff;

}

.google-review-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 215px;
}

.google-review-card2 {
    display: flex;
    flex-direction: row;    
    align-items: flex-start;     
    border-radius: 16px;
    padding: 10px;
    width: 515px;             
}

.google-review-card2 img.review-logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 10px;
}

.google-review-card2 a {
    color: #192A3D;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.google-review-card2 p {
    color: #555555;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.google-review-card2 .google-powered {
    color: #777777;
    margin-top: 0px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.google-review-card2 .review-text {
    color: #fff;
    font-weight: 500;
}

.reviews-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 1000px;
    margin: 0 auto;
}

.review-prev, .review-next {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border: none;       
    background: transparent; 
    font-size: 28px;
    color: #222222;       
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-card {
    position: relative;
    padding: 16px;
    border-radius: 12px;
    background-color: #fff;
}

.review-card p {
    margin: 0px;
}

.review-google-logo {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: auto;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar img { 
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.review-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.review-name {
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #154FC1;
}

.review-date {
    color: #555555;
    font-size: 13px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.star-rating {
    color: #FB8E28;
    font-size: 21px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.review-scroll-box {
    height: 100px;
    overflow-y: auto;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #222222;
    scrollbar-width: thin;
}

/* Footer UI */

.footer-col1 img {
    height: 150px;
    width: 400px;
}

.footer p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fafbfc;
    line-height: 2;
}

.footer h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #fafbfc;
    font-weight: 400;
}

.footer a {
    color: #fafbfc;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 2.2;
    text-decoration: none;
}

.footer-col2 {
    padding-left: 125px;
}

.footer-col3 {
    padding-left: 75px;
}

.footer-col4 {
    padding-left: 50px;
}
.footer-col2 a, .footer-col3 a {
    display: block;
}

.footer-col2 a:hover, .footer-col3 a:hover {
    background-color: #7CAD25;
}

.footer-col4 a, .footer-col4 p{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fafbfc;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-bottom p {
    margin: 0;
    text-align: center;
}

.map-icon, .phone-icon, .mail-icon {
    width: 18px;
    height: 18px;
    fill: #fafbfc;
}

.get-directions, .call-us-number, .email {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #fafbfc;
    text-decoration: none;
    font-size: 15px;
}

.service-info h2 {
    margin: 0;
}

/* Service UI */

.service-info h2 {
    text-align: center;
    padding-top: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    color: #192A3D;
    font-weight: 300;
    padding-top: 75px;
}

.image-container img {
    width: 100%;
    max-width: 750px;
    height: 500px;
    border-radius: 10px;
}

.text-container {
    flex: 1;
}

.text-container h5, .description {
    padding-bottom: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #192A3D;
    font-weight: 300;
}

.description {
    padding-left: 113px;
    text-indent: -113px;
}
