* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 10px 10px -4px rgba(0,0,0,0.2);
}

body {
    margin: 0px;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #FFE4E1, #FFFACD, #E0FFE0, #ADD8E6);
}

.logo img {
    width: 203px;
    height: 64px;
}

nav > ul {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

nav a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

nav a:visited {
    color: #333;
}

nav a:hover {
    color: #7CAD25;
    transform: scale(1.1);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    list-style: none;
    flex-direction: column;
    z-index: 12;
}

.dropdown-menu li a {
    padding: 10px 10px;
    background-color: #fff;
    color: #333;
    display: block;
    text-align: left;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    color: #fff;
    background-color: #7CAD25;
    transform: none;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.video-bg {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    z-index: 0;
}

.video-bg iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    transform: translate(-50%, -50%) scale(1.1);
    pointer-events: none;
}

.video-bg .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 61, 33, 0.5);
    pointer-events: none;
}

.video-bg .video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 10;
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-text {
    max-width: 680px;
}

.video-bg .video-text h1 {
    font-size: 60px;
    font-weight: 500;
    margin: 0px;
}

.video-bg .video-text h2 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.google-review-card {
    display: flex;
    align-items: flex-start; 
    gap: 5px;
}

.google-review-card img.review-logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 5px;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.review-content a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.review-rating {
    color: #FB8E28;
    font-size: 21px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.google-powered {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.google {
    display: inline-flex;
    font-weight: 600;
}

.google-g { 
    color:#6186EC;
}
.google-o1, .google-e {
    color:#CD523F;
}
.google-o2 {
    color: #EABE43;
}
.google-l { 
    color: #63A45D;
}

.google-review {
    width: 100%;          
    text-align: left;   
}

.google-link {
    display: inline-flex; 
    padding: 8px 12px;
    background-color: #1F67E7;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 12px;
    font-size: 14px;
    white-space: nowrap;  
}

.review-text {
    display: inline;    
    margin-right: 4px;     
}

.google-logo {
    display: inline-block;  
    width: 16px;
    height: 16px;
    object-fit: contain;
    border-radius: 50%;
    vertical-align: middle; 
}

.call {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 100px;
}

.call-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 1.2;
}

.phone-number {
    font-weight: 700;
    font-size: 24px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px;
    gap: 80px;
}

.intro-text {
    max-width: 600px;
}

.intro-text h2 {
    color: #192A3D;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    
}

.dropcap::first-letter {
    font-size: 45px;
    float: left;
    line-height: 1;
    margin-right: 8px;

}

.intro-text p {
    color: #3A4F66;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.intro-images {
    position: relative;
    width: fit-content;
}

.intro-head-image {
    display: block;
    height: auto;
    border-radius: 200px 50px 50px 50px;
}

.intro-neck-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
    border-radius: 15px;
}

.intro-text-sub {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.intro-text-content h3, .intro-text-content p {
    margin: 0;
    padding: 0;
}

.intro-text-content h3 {
    color: #47690A;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.intro-text-content p {
    color: #3A4F66;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.intro-icon {
    margin-right: 40px;
}

.intro-link, .specialty-link {
    display: inline-flex; 
    padding: 15px 50px;
    background-color: #7CAD25;
    border-radius: 35px;
    color: #fff;
    text-decoration: none;
    margin-top: 12px;
    font-size: 15px;
    white-space: nowrap;  
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}   

.specialties {
    background: radial-gradient(circle, #3A4F66 0%, #1F2A38 100%);
    height: 925px;
    width: 100%;
    margin-top: 50px;
}

.specialties-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    max-height: 50px;
    padding-top: 75px;

}

.specialties-header::before, .specialties-header::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #00FF00;
}

.specialties-header h5 {
    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    color: #fff;
}

.specialties h2 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin: 50px auto 0 auto;
    max-width: 1000px;
}

.specialties-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 240px;
}

.static-massage-image {
    width: 150px;
    height: auto;
    flex-shrink: 0;
    margin-top: 40px;
}

.static-massage-image img {
    width: 375px;
    height: 550px;
    display: block;
    border-radius: 12px;
}

.carousel {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.cards {
    display: flex;
    gap: 20px;
    overflow-x: hidden;      
    scroll-behavior: smooth;   
    max-width: 900px;         
}

.cards::-webkit-scrollbar {
    display: none;
}

.card {
    background: #fff;
    width: 460px;
    height: 460px;
    border-radius: 12px; 
}

.card img {
    width: 375px;
    height: auto;
    display: block;
    padding: 10px;
}

.card li {
    list-style: none;
    margin: 0;
    padding: 0;
}


.card li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #192A3D;
    transition: color 0.3s;

    display: block;
    text-align: center;
    margin-top: 20px;
}

.card li a:hover {
    color: #7CAD25;
}

.card p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;

    color: #3A4F66;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin: 10px;
    text-align: center;
}

.nav {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    background: #7CAD25;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
}

.nav.prev {
    left: 0px;   
}

.nav.next {
    right: 0px; 
}

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 550px;
}

.specialty-link {
    padding: 15px 50px;
}

.gallery-header, .testimonials-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    max-height: 50px;
    padding-top: 75px;

}

.gallery-header::before, .gallery-header::after, .testimonials-header::before, .testimonials-header::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #7CAD25;
}

.gallery-header h5, .testimonials-header h5 {
    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    color: #3A4F66;
}

.gallery h2, .testimonials h2 {
    color: #192A3D;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin: 50px auto 50px auto;
    max-width: 1000px;
}

.testimonials h4 {
    color: #7CAD25;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin: 50px auto 50px auto;
}

.accordion {
    display: flex;
    height: 320px;
    max-width: 1250px;
    overflow: hidden;
    margin: 0 auto;
}

.panel {
    flex: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    transform: scale(1);
    transition: flex-grow 0.6s ease-in-out, transform 0.6s ease;
}

.panel:hover {
    flex-grow: 2;
    transform: scale(1.02);
}

.panel::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
    opacity: 1;
    transition: opacity 0.4s ease;
}

.panel:hover::before {
    opacity: 0.08;
}

.reviews-section {
    display: flex;
    gap: 40px;
    max-width: 1250px;
    margin: 0 auto;
    align-items: center;
}

.reviews-scroll {
    display: flex;           
    flex-direction: row;     
    gap: 20px;              
    overflow-x: auto;        
    scroll-behavior: smooth;  
    flex-wrap: nowrap;   
    
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.reviews-scroll::-webkit-scrollbar {
    display: none;
}

.review-card {
    flex: 0 0 280px;       
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    font-size: 14px;
    line-height: 1.5;
    width: 250px;
    height: 225px;
    background-color: #fff;

}

.google-review-card2 {
    display: flex;
    flex-direction: row;    
    align-items: flex-start;     
    border-radius: 16px;
    padding: 10px;
    width: 515px;             
}

.google-review-card2 img.review-logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 10px;
}

.google-review-card2 a {
    color: #192A3D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.google-review-card2 p {
    color: #555555;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.google-review-card2 .google-powered {
    color: #777777;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.google-review-card2 .review-text {
    color: #fff;
    font-weight: 500;
}



