header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 10px 10px -4px rgba(0,0,0,0.2);
}

body {
    margin: 0px;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #FFE4E1, #FFFACD, #E0FFE0, #ADD8E6);
}

.logo img {
    width: 203px;
    height: 64px;
}

nav > ul {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

nav a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

nav a:visited {
    color: #333;
}

nav a:hover {
    color: #7CAD25;
    transform: scale(1.1);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    list-style: none;
    flex-direction: column;
    z-index: 12;
}

.dropdown-menu li a {
    padding: 10px 10px;
    background-color: #fff;
    color: #333;
    display: block;
    text-align: left;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    color: #fff;
    background-color: #7CAD25;
    transform: none;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.video-bg {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    z-index: 0;
}

.video-bg iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    transform: translate(-50%, -50%) scale(1.1);
    pointer-events: none;
}

.video-bg .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 61, 33, 0.5);
    pointer-events: none;
}

.video-bg .video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 10;
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-bg .video-text h1 {
    font-size: 48px;
    font-weight: 510;
}

.video-bg .video-text h2 {
    font-size: 24px;
    font-weight: 400;
}

.google-review-card {
    display: flex;
    align-items: flex-start; 
    gap: 5px;
}

.google-review-card img.review-logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 5px;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.review-content a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.review-rating {
    color: #FB8E28;
    font-size: 21px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.google-powered {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.google {
    display: inline-flex;
    font-weight: 600;
}

.google-g { 
    color:#6186EC;
}
.google-o1, .google-e {
    color:#CD523F;
}
.google-o2 {
    color: #EABE43;
}
.google-l { 
    color: #63A45D;
}

.google-review {
    width: 100%;          
    text-align: left;   
}

.google-link {
    display: inline-flex; 
    padding: 8px 12px;
    background-color: #1F67E7;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 12px;
    font-size: 16px;
    white-space: nowrap;  
}

.review-text {
    display: inline;    
    margin-right: 4px;     
}

.google-logo {
    display: inline-block;  
    width: 16px;
    height: 16px;
    object-fit: contain;
    border-radius: 50%;
    vertical-align: middle; 
}

.call {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 35px;
}

.call-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 1.2;
}

.phone-number {
    font-weight: 700;
    font-size: 24px;
}
    