header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 10px 10px -4px rgba(0,0,0,0.2);
}

.logo img {
    width: 203px;
    height: 64px;
}

nav > ul {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

nav a {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

nav a:visited {
    color: #333;
}

nav a:hover {
    color: #7CAD25;
    transform: scale(1.1);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
}

.dropdown-menu li a {
    padding: 5px 5px;
    color: #333;
    display: block;
    text-align: left;
    white-space: nowrap;
}


.dropdown-menu li a:hover {
    color: #fff;
    background-color: #7CAD25;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

