/* Header / Nav Layout */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 10px 10px -4px rgba(0,0,0,0.2);
}

nav > ul {
    display: flex;
    gap: 35px;
    align-items: center;
}

/* Tabs Layout */

.massage-tabs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 0;
    overflow-x: auto;
}

/* Video Layout */

.video-bg {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    z-index: 0;
}

.video-bg iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    transform: translate(-50%, -50%) scale(1.1);
    pointer-events: none;
}

.video-bg .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 61, 33, 0.5);
    pointer-events: none;
}

/* Intro Layout */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px;
    gap: 80px;
}

.intro-images {
    position: relative;
    width: fit-content;
}

.intro-text-content h3, .intro-text-content p {
    margin: 0;
    padding: 0;
}

/* Specialty Layout */

.specialties {
    background: radial-gradient(circle, #3A4F66 0%, #1F2A38 100%);
    height: 925px;
    width: 100%;
    margin-top: 50px;
}

.specialties-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    max-height: 50px;
    padding-top: 75px;
}

.specialties-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 240px;
}

/* Carousel Layout */

.carousel {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 550px;
}

/* Gallery Layout */ 

.gallery-header, .testimonials-header, .aboutus-services-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    max-height: 50px;
    padding-top: 75px;

}

/* Accordion  Layout */ 

.accordion {
    display: flex;
    height: 320px;
    max-width: 1250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 12px;
}

/* Review Layout */ 

.reviews-section {
    display: flex;
    gap: 20px;
    max-width: 1250px;
    margin: 0 auto;
    align-items: center;
}

/* Footer Layout */

.footer {
    margin-top: 100px;
    width: 100%;
    background: radial-gradient(circle, #3A4F66 0%, #1F2A38 100%);
}

.footer-content-container {
    margin: 0 auto;
    padding: 50px 30px 0 30px;

    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-content-container > div {
    flex: 1 1 200px;
}

.footer-col1 {
    flex: 1.6 1 500px;
}

.footer-col3 {
    flex: 1 1 150px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 0 30px;
    text-align: center;
}

/* Services Layout */
.service-info {
    padding-bottom: 20px;
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(to bottom,#ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.info-text-section {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1500px;
    margin: 40px auto;
    padding: 20px;
}

.image-container {
    flex: 0 0 auto;
}

.text-container {
    flex: 1;
}

/* Image Background Layout */

.image-bg-container {
    position: relative; 
    width: 100%;
    max-height: 600px; 
    height: 600px;
    overflow: hidden;  
}

.image-bg-container img {
    width: 100%;
    height: 100%;
    height: auto;
    display: block;
}

.image-bg-container .image-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 61, 33, 0.6);
    pointer-events: none;  
}

.image-bg-text-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-bg-text {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 600px;
}

/* Welcome Layout */

.welcome, .story {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 50px;
    flex-wrap: wrap;
}

.welcome-store-image, .story-text {
    flex: 1;
    max-width: 600px;
    margin-left: 200px;
}

.welcome-text, .story-text {
    flex: 1;
    max-width: 700px;
}

.store-images-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 50px;
}

